* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  text-align: center;
}

main {
  font-size: 18px;
}

input, textarea {
  border: solid 1px rgba(0, 0, 0, .4);
  width: 100%
}

select {
  border: solid 1px black;
  margin-top: 10px;
}

button {
  border: solid 1px black;
}

.label {
  display: block;
}

.bookmark-adder {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.basic-info {
  border: solid 1px black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.details {
  border: solid 1px black;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  padding: 5px;
}

.shrinker, .expander {
  width: 68px;
  margin-top: auto;
  margin-bottom: auto;
}

.detail-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.title {
  width: 50%;
  text-align: left;
}

.rating {
  font-size: 12px;
}

.rating, .title {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.bookmark-list {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 38px;
  }

  main {
    font-size: 22px;
  }

  .bookmark-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 40px;
  }

  .bookmark {
    flex: 1;
    min-width: 50%;
    max-width: 50%;
  }

  .shrinker, .expander {
    width: 78px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 48px;
  }
  .bookmark {
    min-width: 33%;
    max-width: 33%;
  }
}